@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
